@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

#hero .card-title {
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
    padding-top: 300px;
    text-shadow: black 5px 5px 5px;
}